server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;

    server_name {{ site.domains | join(' ') }};

{% if site.dir %}
    root {{ site.dir }};
{% else %}
    root /var/www/empty;
{% endif %}

    ssl on;
    ssl_certificate /opt/cdn/certifier/certs/{{ site.name }}.pem;
    ssl_certificate_key /opt/cdn/certifier/keys/{{ site.name }}.pem;
    ssl_protocols TLSv1.2;

    {% include 'nginx/wellknown.conf.j2' %}

{% if site.vcl %}
    {% include 'nginx/varnish.conf.j2' %}
{% endif %}

{% if site.type == 'redirect' %}
    location / {
        return 301 {{ site.target }};
    }
{% endif %}
}
