server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;

    server_name {{ site.domains | join(' ') }};

    root {{ site.dir | default('/var/www/empty') }};

    ssl on;
    ssl_certificate {{ config.certdir }}/{{ site.name }}.pem;
    ssl_certificate_key {{ config.keydir }}/{{ site.name }}.pem;
    ssl_protocols TLSv1.2;

{% if site.hsts %}
    add_header "Strict-Transport-Security" "max-age=63072000; includeSubDomains; preload" always;
{% endif %}

    {% include 'nginx/wellknown.conf.j2' %}

{% if site.vcl %}
    {% include 'nginx/varnish.conf.j2' %}
{% endif %}

{% if site.type == 'redirect' %}
    location / {
        return 301 {{ site.target }};
    }
{% endif %}
}
