location /.well-known {
    proxy_pass https://{{ config.wellknown.domain }}/{{ config.wellknown.path }}/;
    proxy_set_header Host {{ config.wellknown.domain }};
    {% include 'nginx/proxy.conf.j2' %}
}
