{%- set ourPrivateIp = config.ourPrivateIp | replace('__ID__', serverId) %}
{%- set peerPrivateIp = config.peerPrivateIp | replace('__ID__', serverId) %}

[Interface]
PrivateKey = {{ privateKey }}
Address = {{ ourPrivateIp }}
ListenPort = 51820

[Peer]
PublicKey = {{ config.peerPublicKey }}
AllowedIPs = {{ peerPrivateIp }}, {{ config.publicIp }}
