sendfile on;
tcp_nopush on;
tcp_nodelay on;
keepalive_timeout 65;

types_hash_max_size 2048;
map_hash_bucket_size 2048;

include /etc/nginx/mime.types;
default_type application/octet-stream;

access_log /var/log/nginx/access.log;
error_log /var/log/nginx/error.log;

gzip on;

resolver 8.8.8.8 8.8.4.4 [2001:4860:4860::8888] [2001:4860:4860::8844];

client_max_body_size 100M;

ssl_protocols TLSv1.2 TLSv1.3;

ssl_session_cache shared:SSL:10m;
ssl_session_timeout 1h;

ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM';
ssl_prefer_server_ciphers on;
ssl_session_tickets off;

ssl_stapling on;
ssl_stapling_verify on;

server_tokens off;

proxy_set_header Host $http_host;
proxy_ssl_name $http_host;
include /etc/nginx/includes/proxy.conf;

include /etc/nginx/includes/headers.conf;

log_format cdn '$remote_addr - $remote_user [$time_local] '
                   '"$request" $status $body_bytes_sent '
                   '"$http_referer" "$http_user_agent" "$http_host"';

{%- for ip in dynConfig._ips|sort %}
set_real_ip_from {{ ip }};
{%- endfor %}

set_real_ip_from 127.0.0.0/8;

set_real_ip_from 10.0.0.0/8;
set_real_ip_from 172.16.0.0/12;
set_real_ip_from 192.168.0.0/16;

real_ip_recursive on;
real_ip_header X-Forwarded-For;

{%- set selfNetwork = dynConfig._find('network') %}

{%- for loc, locData in dynConfig._locations|dictsort %}
upstream location_{{ loc }} {
    {%- for server in locData|sort %}
        {%- set serverCfg = dynConfig[server] %}
        {%- if selfNetwork == serverCfg.network and selfNetwork in serverCfg.networkIp %}
    server {{ serverCfg.networkIp[selfNetwork] }};
        {%- else %}
    server {{ serverCfg.primaryIp }};
        {%- endif %}
    {%- endfor %}
}
{%- endfor %}

server {
    listen 80 default;
    listen [::]:80 default;
    listen 443 http2 ssl default;
    listen [::]:443 http2 ssl default;

    ssl_certificate /etc/ssl/default.crt;
    ssl_certificate_key /etc/ssl/default.key;

    root /var/www/empty;

    include /etc/nginx/includes/wellknown.conf;
    include /etc/nginx/includes/securitytxt.conf;

    location / {
        error_log /var/log/nginx/invalid.error.log;
        access_log /var/log/nginx/invalid.access.log cdn;
        return 404 "Site not found";
    }
}

server {
    listen 9080 default;
    listen [::]:9080 default;

    root /var/www/empty;

    location = /gitrev.txt {
        return 200 "{{ dynConfig._self._gitrev }}";
    }
}