resolver 1.1.1.1 1.0.0.1;
map_hash_bucket_size 2048;

proxy_ssl_server_name on;
proxy_set_header Host $http_host;
proxy_ssl_name $http_host;

ssl_protocols TLSv1.2;
server_tokens off;

include /etc/nginx/includes/proxy.conf;
include /etc/nginx/includes/headers.conf;
