{% if site.type == 'directproxy' %}
map $http_host $direct_proxy_{{ site.name }} {
    default "";
    {% for target in site.targets %}
    "{{ target.host }}" "{{ target.proxy }}";
    {% endfor %}
}
{% endif %}

server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;
    listen 80;
    listen [::]:80;

    server_name {{ site.domains | join(' ') }};

    root /var/www/empty;

    ssl_certificate {{ dynConfig._self.certDir }}/{{ site.name }}.pem;
    ssl_certificate_key {{ dynConfig._self.keyDir }}/{{ site.name }}.pem;

{% if site.dir %}
    location / {
{% if site.hsts %}
        include /etc/nginx/includes/hsts.conf;
{% endif %}
        root {{ site.dir }};
    }
{% endif %}

    include /etc/nginx/includes/wellknown.conf;

{% if site.type == 'directproxy' %}
    location @well-known-fallback {
        if ($direct_proxy_{{ site.name }} = "") {
            return 502 "Bad gateway";
        }
        proxy_pass $scheme://$direct_proxy_{{ site.name }};
        include /etc/nginx/includes/proxy.conf;
    }

    location / {
{% if site.hsts %}
        include /etc/nginx/includes/hsts.conf;
{% endif %}
        if ($direct_proxy_{{ site.name }} = "") {
            return 502 "Bad gateway";
        }
        proxy_pass $scheme://$direct_proxy_{{ site.name }};
        include /etc/nginx/includes/proxy.conf;
    }
{% else %}
    location @well-known-fallback {
        return 404;
    }
{% endif %}

{% if site.type == 'proxy' %}
    include /etc/nginx/includes/varnish.conf;
{% endif %}

{% if site.type == 'redirect' %}
    location / {
{% if site.hsts %}
        include /etc/nginx/includes/hsts.conf;
{% endif %}
        return 301 {{ site.target }};
    }
{% endif %}
}
