{% if site.type == 'directproxy' %}
map $http_host $direct_proxy_{{ site.name }} {
    default "";
    {% for pattern in site.targets %}
    "{{ pattern }}" "{{ site.targets[pattern] }}";
    {% endfor %}
}
{% endif %}

server {
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;

    server_name {{ site.domains | join(' ') }};

    root {{ site.dir | default('/var/www/empty') }};

    ssl on;
    ssl_certificate {{ dynConfig._self.certDir }}/{{ site.name }}.pem;
    ssl_certificate_key {{ dynConfig._self.keyDir }}/{{ site.name }}.pem;
    ssl_protocols TLSv1.2;

{% if site.hsts %}
    add_header "Strict-Transport-Security" "max-age=63072000; includeSubDomains; preload" always;
{% endif %}

    {% include 'nginx/wellknown.conf.j2' %}

{% if site.type == 'directproxy' %}
    location @well-known-fallback {
        if ($direct_proxy_{{ site.name }} = "") {
            return 502 "Bad gateway";
        }
        proxy_pass $direct_proxy_{{ site.name }};
        proxy_set_header Host $http_host;
        proxy_ssl_name $http_host;
        {% include 'nginx/proxy.conf.j2' %}
    }

    location / {
        if ($direct_proxy_{{ site.name }} = "") {
            return 502 "Bad gateway";
        }
        proxy_pass $direct_proxy_{{ site.name }};
        proxy_set_header Host $http_host;
        proxy_ssl_name $http_host;
        {% include 'nginx/proxy.conf.j2' %}
    }
{% else %}
    location @well-known-fallback {
        return 404;
    }
{% endif %}

{% if site.vcl %}
    {% include 'nginx/varnish.conf.j2' %}
{% endif %}

{% if site.type == 'redirect' %}
    location / {
        return 301 {{ site.target }};
    }
{% endif %}
}
