location ~ '^/.well-known/acme-challenge/(.*)$' {
    set $domain '{{ config.wellknown.domain }}';
    set $key /acme-challenge/$1;

    proxy_pass https://{{ config.wellknown.domain }}$key;

    proxy_set_header x-amz-date $amz_date;
    proxy_set_header x-amz-content-sha256 $amz_content_sha256;
    proxy_set_header Authorization $amz_signature;
    proxy_set_header Host {{ config.wellknown.domain }};
    proxy_ssl_name {{ config.wellknown.domain }};
    proxy_intercept_errors on;

    include /etc/nginx/includes/proxy.conf;

    error_page 404 = @well-known-fallback;
    error_page 403 = @well-known-fallback;

    error_log /var/log/nginx/wellknown.error.log;
    access_log /var/log/nginx/wellknown.access.log cdn;
}
