location /.well-known/acme-challenge/ {
    proxy_pass https://{{ config.wellknown.domain }}{{ config.wellknown.path }}/acme-challenge/;

    proxy_set_header Host {{ config.wellknown.domain }};
    proxy_ssl_name {{ config.wellknown.domain }};
    proxy_intercept_errors on;

    include /etc/nginx/includes/proxy.conf;

    error_page 404 = @well-known-fallback;
    error_page 403 = @well-known-fallback;

    error_log /var/log/nginx/wellknown.error.log;
    access_log /var/log/nginx/wellknown.access.log;
}
