zone "{{ zone.name }}." {
    type native;
    file "/etc/bind/sites/db.{{ zone.name }}";
    key-directory "{{ dynConfig._self.dnssecDir }}";
    inline-signing yes;
    auto-dnssec maintain;
};
