; Zone for site
$TTL    300
{%- set mainDomain = site.domains[0] %}
{%- set mainDomainStripLen = -((mainDomain | length) + 1) %}

@       3600    IN      SOA     {{ mainDomain }}. root.{{ mainDomain }}. (
                        2033053301
                        7200
                        3600
                        86400
                        3600 )

{%- if site.vanityNS %}
    {%- for record in dynConfig._find('vanityNSRecords') %}
{{ record }}
    {%- endfor %}
{%- else %}
    {%- for ns in dynConfig._find('nsrecords') %}
@       IN      NS      {{ ns }}
    {%- endfor %}
{%- endif %}

{%- for domain in site.domains %}
    {%- if domain == mainDomain %}
        {%- for ip in dynConfig._find('siteips4') %}
{{ domain }} IN A {{ ip }}
        {%- endfor %}
        {%- for ip in dynConfig._find('siteips6') %}
{{ domain }} IN AAAA {{ ip }}
        {%- endfor %}
    {%- else %}
{{ domain[:-mainDomainStripLen] }} IN CNAME {{ dynConfig._find('sitecname') }}
    {%- endif %}
{%- endfor %}

{%- for record in site.records %}
{{ record }}
{%- endfor %}
