; Zone for site
{%- set mainDomain = zone.name %}
{%- set site = zone.site %}
{%- set mainDomainStripLen = -((mainDomain | length) + 1) %}

$TTL    300
$ORIGIN {{ mainDomain }}.

@       3600    IN      SOA     {{ mainDomain }}. root.{{ mainDomain }}. (
                        {{ zone.serial | int }}
                        3600
                        900
                        604800
                        3600 )

{%- if site.vanityNS %}
    {%- for nsname, nsdata in dynConfig._find('vanityNSRecords')|dictsort %}
{{ nsname }}    IN      A       {{ nsdata.ip4 }}
{{ nsname }}    IN      AAAA    {{ nsdata.ip6 }}
@       3600    IN      NS      {{ nsname }}
    {%- endfor %}
{%- else %}
    {%- for ns in dynConfig._find('nsrecords')|sort %}
@       3600    IN      NS      {{ ns }}.
    {%- endfor %}
{%- endif %}

{%- if site.type != 'none' %}
{%- for domain in zone.domains|sort %}
    {%- set domain_short = domain[:mainDomainStripLen] %}
    {%- if domain == mainDomain or domain == dynConfig._find('sitecname') %}
        {%- if domain == mainDomain %}
            {%- set domain_short = '@' %}
        {%- endif %}
        {%- for ip in dynConfig._find('siteips4')|sort %}
{{ domain_short }} IN A {{ ip }}
        {%- endfor %}
        {%- for ip in dynConfig._find('siteips6')|sort %}
{{ domain_short }} IN AAAA {{ ip }}
        {%- endfor %}
    {%- else %}
{{ domain_short }} IN CNAME {{ dynConfig._find('sitecname') }}.
    {%- endif %}
{%- endfor %}
{%- endif %}

{%- for record in site.records|sort(attribute='name') %}
{{ record.name }} {{ record.ttl|default('300')|int }} IN {{ record.type }} {{ record.value }}
{%- endfor %}

{%- if site.presetMX == 'google' %}
@	IN	MX	5 alt2.aspmx.l.google.com.
@   IN	MX	5 alt1.aspmx.l.google.com.
@	IN	MX	1 aspmx.l.google.com.
@	IN	MX	10 aspmx3.googlemail.com.
@	IN	MX	10 aspmx2.googlemail.com.
@	IN	TXT	"v=spf1 include:_spf.google.com mx ~all"
{%- elif site.presetMX == 'fastmail' %}
@	IN	MX	10 in1-smtp.messagingengine.com.
@   IN	MX	20 in2-smtp.messagingengine.com.
@   IN  TXT "v=spf1 include:spf.messagingengine.com mx ~all"
fm1._domainkey   IN  CNAME fm1.{{ mainDomain }}.dkim.fmhosted.com
fm2._domainkey   IN  CNAME fm2.{{ mainDomain }}.dkim.fmhosted.com
fm2._domainkey   IN  CNAME fm3.{{ mainDomain }}.dkim.fmhosted.com
{%- elif site.presetMX == 'protonmail' %}
@	IN	MX	10 mail.protonmail.ch.
@   IN	MX	20 mailsec.protonmail.ch.
@   IN  TXT "v=spf1 include:_spf.protonmail.ch mx ~all"
{%- elif site.presetMX == 'protonmailforward' %}
@   IN  MX  1 arcticfox.doridian.net.
@   IN  TXT "v=spf1 include:_spf.protonmail.ch mx ~all"
{%- endif %}
