; Zone for site
$TTL    300
{%- set mainDomain = zone.name %}
{%- set site = zone.site %}
{%- set mainDomainStripLen = -((mainDomain | length) + 1) %}

@       3600    IN      SOA     {{ mainDomain }}. root.{{ mainDomain }}. (
                        {{ zone.serial | int }}
                        3600
                        900
                        604800
                        3600 )

{%- if site.vanityNS %}
    {%- for record in dynConfig._find('vanityNSRecords')|sort %}
{{ record }}
    {%- endfor %}
{%- else %}
    {%- for ns in dynConfig._find('nsrecords')|sort %}
@       3600    IN      NS      {{ ns }}.
    {%- endfor %}
{%- endif %}

{%- if site.type != 'none' %}
{%- for domain in zone.domains|sort %}
    {%- set domain_short = domain[:mainDomainStripLen] %}
    {%- if domain == mainDomain or domain == dynConfig._find('sitecname') %}
        {%- if domain == mainDomain %}
            {%- set domain_short = '@' %}
        {%- endif %}
        {%- for ip in dynConfig._find('siteips4')|sort %}
{{ domain_short }} IN A {{ ip }}
        {%- endfor %}
        {%- for ip in dynConfig._find('siteips6')|sort %}
{{ domain_short }} IN AAAA {{ ip }}
        {%- endfor %}
    {%- else %}
{{ domain_short }} IN CNAME {{ dynConfig._find('sitecname') }}.
    {%- endif %}
{%- endfor %}
{%- endif %}

{%- for record in site.records|sort %}
{{ record }}
{%- endfor %}

{%- if site.useGoogleMX %}
@	IN	MX	5 alt2.aspmx.l.google.com.
@   IN	MX	5 alt1.aspmx.l.google.com.
@	IN	MX	1 aspmx.l.google.com.
@	IN	MX	10 aspmx3.googlemail.com.
@	IN	MX	10 aspmx2.googlemail.com.
@	IN	TXT	"v=spf1 include:_spf.google.com mx ~all"
{%- endif %}
